body {
  background-color: rgb(106, 157, 116);
}

.sectionbox {
  border: solid 2px black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

h1 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: oblique;
  letter-spacing: 10px;
  text-align: center;
  font-size: 50px;
  color:rgb(254, 250, 5);
}

#challenge, #problems, #results {
  border: rgb(255, 251, 0) solid 15px;
  width: 45%;
  background-color: rgba(229, 255, 0, 0.728);
  padding: 10px;
  float: left;
  margin: 5px;
}

h2, p {
  color:rgb(246, 255, 0);
}

.special h2 {
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:rgb(68, 13, 13);
}

.special p {
  font-style: bold;
  color: rgb(68, 13, 13);
}

#challenge.special {
  border: rgb(79, 9, 255) solid 15px;
  width: 45%;
  background-color: rgba(202, 111, 89, 0.728);
  padding: 10px;
  float: left;
  margin: 5px;
}

#problems.special {
  border: rgb(58, 28, 255) solid 15px;
  width: 45%;
  background-color: rgba(202, 111, 89, 0.728);
  padding: 10px;
  float: left;
  margin: 5px;
}

#results.special {
  border: rgb(111, 0, 255) solid 15px;
  width: 45%;
  background-color: rgba(202, 111, 89, 0.728);
  padding: 10px;
  float: left;
  margin: 5px;
}